﻿@model InvoiceProductSystem.Models.InvoiceTable
@using static InvoiceProductSystem.Models.InvoiceTable



@{
    ViewData["Title"] = "Create";
}


    <style>
        
        .Total{background-image:none;}
        .Tax{background-image:none;}
        .Price{background-image:none;}
        .Quantity{background-image:none;}



    </style>



   
        <div class="card-header bg-primary text-uppercase text-white">
        <h4>Create Invoice</h4>
        </div>
   <p>

   </p>



        <form enctype="multipart/form-data" asp-action="Create">
            <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
               <label class="control-label"><b>Bill To </b></label>
                <select asp-for="BillTo" class="form-control">
                    <option value="Select">Select</option>
                    <option value="Keyur">Keyur</option>
                    <option value="Mayur">Mayur</option>
                    <option value="Kishan">Kishan</option>
                    <option value="Pranali">Pranali</option>
                    <option value="Suyash">Suyash</option>
                    <option value="Sushma">Sushma</option>
                    <option value="Sudhir">Sudhir</option>
                </select>
               @*<input asp-for="BillTo" class="form-control" />*@
            <span asp-validation-for="BillTo" class="text-danger"></span>
            </div>
            

            <div class="form-group">
              <label class="control-label"><b>Invoice No</b></label>
                <input asp-for="InvoiceNo" class="form-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
           
            </div>
           

            
            
            <div class="form-group">
                 <label  class="control-label"><b>Invoice Date</b></label>
                <input asp-for="InvoiceDate" class="form-control" type="date"/>
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
           
            
           
            <div class="form-group">
                <label  class="control-label"><b>Due Date</b></label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
          

               
           
            <div class="form-group">
                 <label  class="control-label"><b>Status</b></label>
                <select asp-for="Status1" class="form-control">
                    <option value="Select">Select</option>
                    <option value="Draft">Draft</option>
                    <option value="Sent">Sent</option>
                    <option value="Paid">Paid</option>
                </select>
                <span asp-validation-for="Status1" class="text-danger"></span>
            </div>
          
             </div>
           </div>
            
           
            <p>

          </p>
           
             <p align="right"> 
                        <button id='btnadd' type="button" class="btn btn-sm btn-primary visible" onclick="AddItem(this)">Add New row</button>
                    </p>

            <div class="row">
                <div class="col-md-12">
            <table id="Ptable" class= "table table-striped table-sm" >
                <thead>
                    <tr>
                        
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Tax</th>    
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                 @for(int i=0;i<Model.ProductTables.Count;i++)
                    {
                        <tr id="row1">
                            
                            <td>
                                
                                <select asp-for="@Model.ProductTables[i].ProductName" class="valid form-control">
                                    <option value="Select Product">Select Product</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Google">Google</option>
                                    <option value="Poco">Poco</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="Vivo">Vivo</option>
                                    <option value="Oppo">Oppo</option>
                                    <option value="Redmi">Redmi</option>
                                    <option value="Realme">Realme</option>

                                </select>
                                <span asp-validation-for="@Model.ProductTables[i].ProductName" class="text-danger"></span>
                            </td>
                            <td>
                                
                                <input asp-for="@Model.ProductTables[i].Description1" class="form-control" value=""/>
                                <span asp-validation-for="@Model.ProductTables[i].Description1" class="text-danger"></span>
                           
                            </td>
                                <td>
                               
                                <input asp-for="@Model.ProductTables[i].Price" class="form-control Price"  value=""/>
                                <span asp-validation-for="@Model.ProductTables[i].Price" class="text-danger"></span>
                            </td>
                            <td>
                               
                                <input asp-for="@Model.ProductTables[i].Quantity" class="form-control Quantity" onchange="Sum()" value=""/>
                                <span asp-validation-for="@Model.ProductTables[i].Quantity" class="text-danger"></span>
                            </td>
                            <td>
                            
                             <input asp-for="@Model.ProductTables[i].Tax" class="form-control Tax" value="" onchange="CalcTotal()"/>
                            </td>
                            <td>
                                 <input type="hidden" asp-for="@Model.ProductTables[i].IsDeleted"/> 
                               
                                <input asp-for="@Model.ProductTables[i].Total" class="form-control Total" readonly/>
                            </td>
                            <td>
                              

                                 <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">Remove</button>
                            </td>
                            

                        </tr>

                    }
                </tbody>
            </table>
            </div>
            </div>

         
           


              <div class="row">
        <div class="col-md-2">
          <div class="form-group">
               <label><b>Subtotal :</b></label>  
          </div>  
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="subt1" asp-for="Subtotal1" class="form-control-plaintext" readonly />  
                </div>
            </div>
            </div>

            <div class="row">
            <div class="col-md-2">
                <div class="form-group">
            <label><b>Total Tax :</b></label>  
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input id="ttax1" asp-for="TotalTax1" class="form-control-plaintext" readonly/>  
                    </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-2">
                <div class="form-group">
       <label><b>Grand Total :</b></label>  
               
                </div>
            </div>
             
            <div class="col-md-2">
                <div class="form-group">
                     <input id="gt1" asp-for="GrandTotal1" class="form-control-plaintext" readonly/>  
                     </div>
            </div>
               </div>
              

            <div class="row">
                <div class="col-md-4">
            <label><b>Invoice Note</b></label>
             <input asp-for="InvoiceNote" class="form-control" type="text"/>
                    
         
             <div class="form-group">
                <label  class="control-label"><b>Attachment</b></label>
                <div class=custom-file>
                <input asp-for="Attachment" class="form-control custom-file-input" accept="application/pdf,application/vnd.ms-excel,application/msword,application/jpeg"/>
                <label>Allow only Excel,Doc,PDF,Image File.</label>
            </div>
            </div>
            </div>
            </div>
           
                <div class="col-4 btn-group">
               <div class="col-4 form-group text-left p-2">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
               
            <div class="col-4 form-group text-left p-2">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            </div>
            

        </form>
        
   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>


    $(".custom-file-input").on("change",function(){
            var fileName = $(this).val().split("\\").pop();
    $(this).siblings("custom-file-label").addClass("selected").html(fileName);

        });




    function DeleteItem(btn) {
    var table = document.getElementById('Ptable');
    var rows = table.getElementsByTagName('tr');
    if(rows.length == 2)
    {
        alert('There should be atleast one row');
        return;
        }
        

        $(btn).closest('tr').remove();
        
        CalcTotal();
        
        }


    function AddItem(btn)
    {
            var table= document.getElementById("Ptable");
    var rows =table.getElementsByTagName('tr');
    var rowOuterHtml =rows[rows.length-1].outerHTML;
    var lastrowIdx = rows.length-2;
    var nextrowIdx = eval(lastrowIdx) + 1;

    rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
    rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
    rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

    var newRow=table.insertRow();
        newRow.innerHTML = rowOuterHtml;

    }



    function Sum()
    {
            var p = document.getElementsByClassName('Price');
    var q = document.getElementsByClassName('Quantity');
    var i;
    var sum = 0;
    for(i = 0 ;i<p.length ; i++)
    {
    sum = eval(p[i].value) * eval(q[i].value);
    document.getElementById('ProductTables_'+i+'__Total').value = sum;
                
     }
            
            
    }

    function CalcTotal()
    {

    var x = document.getElementsByClassName('Total');
    var xy = document.getElementsByClassName('Tax');
    var totalSum = 0;
    var totalTax = 0;
    var grandTotal = 0;
    var i;

    for(i = 0;i < x.length; i++)
    {
        totalSum = totalSum + eval(x[i].value);
        totalTax = totalTax + eval(xy[i].value);
        grandTotal = totalSum + totalTax;

    }


    document.getElementById('subt1').value=totalSum;
    document.getElementById('ttax1').value=totalTax;
    document.getElementById('gt1').value=grandTotal;
    return;
    }

    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
            });
            </script>

    
       
}







