﻿@model InvoiceProductSystem.Models.InvoiceTable
@using static InvoiceProductSystem.Models.InvoiceTable



@{
    ViewData["Title"] = "Create";
}


    <style>
        
        .Total{background-image:none;}
        .Tax{background-image:none;}
        .Price{background-image:none;}
        .Quantity{background-image:none;}



    </style>



   
        <div class="card-header bg-primary text-uppercase text-white">
        <h4>View Invoice</h4>
        </div>
   <p>

   </p>



        <form enctype="multipart/form-data" asp-action="Create">
            <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label class="control-label"><b>Bill To </b></label>
                <select asp-for="BillTo" class="form-control" disabled="true">
                    <option value="Select">Select</option>
                    <option value="Keyur">Keyur</option>
                    <option value="Mayur">Mayur</option>
                    <option value="Kishan">Kishan</option>
                    <option value="Pranali">Pranali</option>
                    <option value="Suyash">Suyash</option>
                    <option value="Sushma">Sushma</option>
                    <option value="Sudhir">Sudhir</option>
                </select>
             
           
            </div>
            

            <div class="form-group">
                <label class="control-label"><b>Invoice No</b></label>
                <input asp-for="InvoiceNo" class="form-control-plaintext" readonly/>
                
           
            </div>
           

            
            
            <div class="form-group">
                <label  class="control-label"><b>Invoice Date</b></label>
                <input asp-for="InvoiceDate" class="form-control-plaintext" readonly type="date"/>
                
            </div>
           
            
           
            <div class="form-group">
                <label  class="control-label"><b>Due Date</b></label>
                <input asp-for="DueDate" class="form-control-plaintext" readonly type="date" />
               
            </div>
          

               
           
            <div class="form-group">
                <label  class="control-label"><b>Status</b></label>
                <select asp-for="Status1" class="form-control" disabled="true">
                    <option value="Select">Select</option>
                    <option value="Draft">Draft</option>
                    <option value="Sent">Sent</option>
                    <option value="Paid">Paid</option>
                </select>
               
            </div>
          
             </div>
           </div>
            
           
            <p>

          </p>
           
             

            <div class="row">
                <div class="col-md-12">
            <table id="Ptable" class= "table table-striped table-sm" >
                <thead>
                    <tr>
                        
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Tax</th>    
                        <th>Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                 @for(int i=0;i<Model.ProductTables.Count;i++)
                    {
                        <tr id="row1">
                            
                            <td>
                                
                                <select asp-for="@Model.ProductTables[i].ProductName" class="valid form-control" disabled="true">
                                    <option value="Select Product">Select Product</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Google">Google</option>
                                    <option value="Poco">Poco</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="Vivo">Vivo</option>
                                    <option value="Oppo">Oppo</option>
                                    <option value="Redmi">Redmi</option>
                                    <option value="Realme">Realme</option>

                                </select>
                               
                            </td>
                            <td>
                               
                                <input asp-for="@Model.ProductTables[i].Description1" class="form-control-plaintext" readonly />
                                
                            </td>
                                <td>
                               
                                <input asp-for="@Model.ProductTables[i].Price" class="form-control-plaintext Price" readonly />
                               
                            </td>
                            <td>
                               
                                <input asp-for="@Model.ProductTables[i].Quantity" class="form-control-plaintext Quantity" readonly onchange="Sum()" />
                                
                            </td>
                            <td>
                             
                             <input asp-for="@Model.ProductTables[i].Tax" class="form-control-plaintext Tax" readonly  onchange="CalcTotal()"/>
                            </td>
                            <td>
                               
                                <input asp-for="@Model.ProductTables[i].Total" class="form-control Total" readonly/>
                            </td>
                            
                            

                        </tr>

                    }
                </tbody>
            </table>
            </div>
            </div>

         
           


              <div class="row">
        <div class="col-md-2">
          <div class="form-group">
              <label><b>Subtotal :</b></label>  
                
          </div>  
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input id="subt1" asp-for="Subtotal1" class="form-control-plaintext" readonly />  
                </div>
            </div>
            </div>

            <div class="row">
            <div class="col-md-2">
                <div class="form-group">
             <label><b>Total Tax :</b></label>  
                
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <input id="ttax1" asp-for="TotalTax1" class="form-control-plaintext" readonly/>  
                    </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-2">
                <div class="form-group">
        <label><b>Grand Total :</b></label>  
               
                </div>
            </div>
             
            <div class="col-md-2">
                <div class="form-group">
                     <input id="gt1" asp-for="GrandTotal1" class="form-control-plaintext" readonly/>  
                     </div>
            </div>
               </div>
              

            <div class="row">
                <div class="col-md-4">
             <label><b>Invoice Note</b></label>
             <input asp-for="InvoiceNote" class="form-control-plaintext" readonly type="text"/>
                    
         
            
            </div>
            </div>
           
           
                <div class="col-4 btn-group">
               <div class="col-4 form-group text-left p-2">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
               
         
            </div>
            

        </form>
        
   









