﻿
@model IEnumerable<InvoiceProductSystem.Models.InvoiceTable>

@{
    ViewData["Title"] = "Index";
}

<div class="card-header bg-primary text-uppercase text-white">
        <h4>Invoice List</h4>
        </div>
   
@*<p>
    @using(Html.BeginForm("Index","Invoice",FormMethod.Get))
    {
    <b>Search By :</b>
    @Html.RadioButton("SearchBy","InvoiceNo",true) <text>Invoice No</text>
    @Html.RadioButton("SearchBy","Status1")<text>Status </text>  <br />
    @Html.TextBox("Search") <input type="submit" value="Search"/>
    }
</p>*@
<p>

</p>
<p>

      <a asp-action="Create" class="btn btn-sm btn-primary"
      >Create New Invoice </a>

</p>
<p>
  
</p>
<div>
<table class="table" id="Itable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().BillTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Amount)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceNo"><img src="~/Attachments/ed.png" /></a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceNo"><img src="~/Attachments/view-details.png" /></a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceNo" onclick="return confirm('Are you sure you want to delete Invoice : @item.InvoiceNo')"><img src="~/Attachments/del.png" /></a>
                
            </td>
        </tr>
}
    </tbody>
</table>

</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>

@*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>*@

<script>
$(document).ready(function(){
    $("#Itable").DataTable(
    {
       "lengthMenu": [ 5, 10, 15, 20, 25 ]
    });
});
</script>

}