﻿@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<MvcProject2.Context.Employee>

@{
    ViewBag.Title = "EmployeeList";
}
@using (Html.BeginForm("EmployeeList", "EmployeeData", FormMethod.Get
    ))
{
    <div class="container">
        <div class="form-group">

            <label>
                Search By :
                @Html.RadioButton("SearchBy", "Name", true)
                First Name
                @Html.RadioButton("SearchBy", "Gender")
                Gender
            </label>
        </div>
        <div class="form-group">
             @Html.TextBox("search")<input type="submit" value="Search" />
        </div>
    </div>
    
}

    <table class="table table-responsive">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Employment Type</th>
            <th>Department Type</th>
            <th>Action</th>
        </tr>

        @if(Model.Count()==0)
            {
                <tr>
                    <td colspan="10">No rows match search criteria</td>
                </tr>

        }
        else
            {

            

        foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Gender</td>
                <td>@item.Designation</td>
                <td>@item.EmploymentType</td>
                <td>@item.DepartmentType</td>
                <td>
                    <a href="@Url.Action("EmployeeData",new {item.ID,item.FirstName,item.LastName,
                        item.Email,item.Phone,item.Gender,item.Designation,item.EmploymentType,item.DepartmentType})" ><img src="~/Images/ed.png" /></a>
                    <a href="@Url.Action("Delete",new { item.ID })" onclick="return confirm('Are you sure you want to delete ?')"><img src="~/Images/del.png"/></a>
                </td>
            </tr>
        }
            }
    </table>
    @Html.PagedListPager(Model,page => Url.Action("EmployeeList", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded ,DisplayPageCountAndCurrentLocation= true})


    <a href="@Url.Action("EmployeeData")" class="btn btn-info">Add Employee</a>

