﻿@model MvcProject2.Context.Employee

@{
    ViewBag.Title = "EmployeeData";
}



<style>
    .error{
        color:red;
    }
</style>

@using (Html.BeginForm("AddEmployee", "EmployeeData", FormMethod.Post))
{

<div class="container">
    <div class="form-group">
        @Html.HiddenFor(x=>x.ID)
        <label>First Name : </label>
        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>



    <div class="form-group">
        <label>Last Name : </label>
        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>



    <div class="form-group">
        <label>Email : </label>
        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>



    <div class="form-group">
        <label>Phone : </label>
        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "error" })
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>



    <div class="form-group">
        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "error" })
        <label>
            Gender :
            @Html.RadioButtonFor(x => x.Gender, "Male")
            Male
            @Html.RadioButtonFor(x => x.Gender, "Female")
            Female
        </label>
    </div>


    <div class="form-group">
        <label>Employment Type :  </label>

        <select name="EmploymentType" id="EmploymentType" class="valid form-control">
            <option value="Select Employment Type">Select</option>
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
            <option value="Contract ">Contract</option>

        </select>
        <span asp-validation-for="EmploymentType" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Department Type :  </label>
        
        <select name="DepartmentType" id="DepartmentType" class="valid form-control">
            <option value="Select Department Type">Select</option>
            <option value="Engineering">Engineering</option>
            <option value="HR">HR</option>
            <option value="IT">IT</option>
            <option value="Cloud">Cloud</option>

        </select>
        <span asp-validation-for="DepartmentType" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Password : </label>
        @Html.ValidationMessageFor(x => x.Password1, "", new { @class = "error" })
        @Html.PasswordFor(x => x.Password1, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label>Confirm Password : </label>
        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "error" })
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Save </button>
        <button type="reset" class="btn btn-danger"> Cancle </button>

    </div>

</div>



}

